## Scraping dengan Requests

In [1]:
# !pip install requests
# !pip install selenium
# !pip install mysql-connector

Processing /Users/faiz/Library/Caches/pip/wheels/8c/83/a1/f8b6d4bb1bd6208bbde1608bbfa7557504bed9eaf2ecf8c175/mysql_connector-2.2.9-cp37-cp37m-macosx_10_12_x86_64.whl
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9
WARNING: You are using pip version 19.3.1; however, version 20.0.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [5]:
import requests
from bs4 import BeautifulSoup

In [6]:
r = requests.get("https://rti.co.id/?m_id=1&sub_m=s1")
# r.text

In [7]:
soup = BeautifulSoup(r.content, "html5lib")
# soup

In [8]:
soup.findAll("table", {"style": 'font: normal 18px "Trebuchet MS"; color: #DC143C'})

[<table border="0" cellpadding="0" cellspacing="0" style='font: normal 18px "Trebuchet MS"; color: #DC143C'>
 	  <tbody><tr>
 	    <td nowrap="" style="padding-left: 50px; font-size: 35px">
 	      <span id="header_idx" style="color: #13406e">IDX</span>  <img alt="indicator" border="0" height="23" src="images/arrow_red.png" width="33"/>
 	      5866.945  </td>
 	    <td align="right" nowrap="" style="padding-bottom: 4px; color: #DC143C" valign="bottom" width="60">-5.009</td>
 	    <td nowrap="" style="padding-bottom: 4px" valign="bottom">(-0.085%)</td></tr>
         </tbody></table>]

In [9]:
(soup.findAll("table", {"style": 'font: normal 18px "Trebuchet MS"; color: #DC143C'})[0].
 findAll("td", {"style":"padding-left: 50px; font-size: 35px"})[0].contents[-1].strip())

'5866.945'

## Scraping dengan Selenium

In [10]:
from selenium import webdriver
from bs4 import BeautifulSoup
from selenium.webdriver.chrome.options import Options


url = 'https://rti.co.id/?m_id=1&sub_m=s1'
driver = webdriver.Chrome(executable_path="/usr/local/bin/chromedriver")
driver.get(url)


# from selenium import webdriver
# from bs4 import BeautifulSoup
# from selenium.webdriver.chrome.options import Options

# chrome_options = Options()
# chrome_options.add_argument('--headless')


# url = 'https://rti.co.id/?m_id=1&sub_m=s1'
# driver = webdriver.Chrome(executable_path="C:\\Users\\katadata\\Pictures\\Project\\Scraping\\chromedriver\\chromedriver_79_win.exe", options=chrome_options)
# driver.get(url)

In [11]:
html_source = driver.page_source
soup = BeautifulSoup(html_source, "html.parser")

In [12]:
soup.findAll("table", {"style": 'font: normal 18px "Trebuchet MS"; color: #DC143C'})
# soup.findAll("table", {"style": 'font: normal 18px "Trebuchet MS"; color: #289500'}) #saat hijau

[<table border="0" cellpadding="0" cellspacing="0" style='font: normal 18px "Trebuchet MS"; color: #DC143C'>
 <tbody><tr>
 <td nowrap="" style="padding-left: 50px; font-size: 35px">
 <span id="header_idx" style="color: #13406e">IDX</span>  <img alt="indicator" border="0" height="23" src="images/arrow_red.png" width="33">
 	      5866.945  </img></td>
 <td align="right" nowrap="" style="padding-bottom: 4px; color: #DC143C" valign="bottom" width="60">-5.009</td>
 <td nowrap="" style="padding-bottom: 4px" valign="bottom">(-0.085%)</td></tr>
 </tbody></table>]

In [13]:
(soup.findAll("table", {"style": 'font: normal 18px "Trebuchet MS"; color: #DC143C'})[0].
 findAll("td", {"style":"padding-left: 50px; font-size: 35px"})[0].
 findAll("img")[0].contents[-1].strip())

'5866.945'

In [14]:
indeks_saat_ini = (soup.findAll("table", {"style": 'font: normal 18px "Trebuchet MS"; color: #DC143C'})[0].
 findAll("td", {"style":"padding-left: 50px; font-size: 35px"})[0].
 findAll("img")[0].contents[-1].strip())
indeks_saat_ini

'5866.945'

In [15]:
perubahan_poin = (soup.findAll("table", {"style": 'font: normal 18px "Trebuchet MS"; color: #DC143C'})[0].
 findAll("td")[-2].text)
perubahan_poin

'-5.009'

In [16]:
perubahan_persen = (soup.findAll("table", {"style": 'font: normal 18px "Trebuchet MS"; color: #DC143C'})[0].
 findAll("td")[-1].text)
perubahan_persen

'(-0.085%)'

In [17]:
from datetime import datetime

tanggal = datetime.now().strftime('%Y-%m-%d %H:%M:%S') 
tanggal

'2020-02-15 15:03:10'

In [18]:
list1 = [tanggal, indeks_saat_ini, perubahan_poin, perubahan_persen]
list1

['2020-02-15 15:03:10', '5866.945', '-5.009', '(-0.085%)']

In [19]:
open_ = (soup.findAll("table", {"style": 'font: normal 12px "Trebuchet MS", arial, helvetica, Verdana; color: #13406e'})[0].
findAll("td")[0].contents[-1].text)
open_

'5857.721'

In [20]:
high = (soup.findAll("table", {"style": 'font: normal 12px "Trebuchet MS", arial, helvetica, Verdana; color: #13406e'})[0].
findAll("td")[1].contents[-1].text)
high

'5890.029'

In [21]:
low = (soup.findAll("table", {"style": 'font: normal 12px "Trebuchet MS", arial, helvetica, Verdana; color: #13406e'})[0].
findAll("td")[2].contents[-1].text)
low

'5843.432'

In [22]:
volume = (soup.findAll("table", {"style": 'font: normal 12px "Trebuchet MS", arial, helvetica, Verdana; color: #13406e'})[0].
findAll("td")[3].contents[-1].text.strip())
volume

'6,388,288,505'

In [23]:
value = (soup.findAll("table", {"style": 'font: normal 12px "Trebuchet MS", arial, helvetica, Verdana; color: #13406e'})[0].
findAll("td")[4].contents[-1].text.strip())
value

'6,209,302,739,497'

In [24]:
frequency = (soup.findAll("table", {"style": 'font: normal 12px "Trebuchet MS", arial, helvetica, Verdana; color: #13406e'})[0].
findAll("td")[5].contents[-1].text.strip())
frequency

'361,124'

In [25]:
up = (soup.findAll("table", {"style": 'font: normal 12px "Trebuchet MS", arial, helvetica, Verdana; color: #13406e'})[0].
findAll("td")[6].contents[-1].text)
up

'163'

In [26]:
down = (soup.findAll("table", {"style": 'font: normal 12px "Trebuchet MS", arial, helvetica, Verdana; color: #13406e'})[0].
findAll("td")[7].contents[-1].text)
down

'207'

In [27]:
unchange = (soup.findAll("table", {"style": 'font: normal 12px "Trebuchet MS", arial, helvetica, Verdana; color: #13406e'})[0].
findAll("td")[8].contents[-1].text)
unchange

'153'

In [28]:
list2 = []
for i in range(9):
    list2.append((soup.findAll("table", {"style": 'font: normal 12px "Trebuchet MS", arial, helvetica, Verdana; color: #13406e'})[0].
findAll("td")[i].contents[-1].text))

In [29]:
import pandas as pd

df_umum = pd.DataFrame([list1 + list2], columns=["tanggal", "indeks_saat_ini", "perubahan_poin", "perubahan_persen",
                                                "open_", "high", "low", "volume", "value", "frequency", "up",
                                                 "down", "unchange"])

df_umum

,tanggal,indeks_saat_ini,perubahan_poin,perubahan_persen,open_,high,low,volume,value,frequency,up,down,unchange
0,2020-02-15 15:03:10,5866.945,-5.009,(-0.085%),5857.721,5890.029,5843.432,"6,388,288,505","6,209,302,739,497","361,124",163,207,153

In [ ]:
# import sqlalchemy 
# from sqlalchemy import create_engine 

# engine = sqlalchemy.create_engine('mysql+pymysql://z49Mo0EB5g:Cd90219RuM@remotemysql.com:3306/z49Mo0EB5g')

# df_umum.to_sql(
#     name='Data_Journo_Umum', 
#     con=engine,
#     if_exists='append',
#     index=False
# )

#### Klik Movers dan Gainers

In [30]:
driver.find_element_by_xpath('//*[@id="s4"]').click()

ElementClickInterceptedException: Message: element click intercepted: Element <a id="s4" href="?m_id=1&amp;sub_m=s4" target="_self" class="submenu">...</a> is not clickable at point (268, 103). Other element would receive the click: <div id="rti_ads" style="overflow: hidden; display: block;">...</div>
  (Session info: chrome=80.0.3987.106)

In [31]:
driver.find_element_by_xpath('//*[@id="ssm1"]').click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//*[@id="ssm1"]"}
  (Session info: chrome=80.0.3987.106)

In [32]:
html_source = driver.page_source
soup = BeautifulSoup(html_source, "html.parser")

#### Extract data

In [ ]:
soup

In [ ]:
(soup.findAll("table", {"style":'font: bold 12px arial, "Trebuchet MS"'})[0].findAll("tbody")[1].
 findAll("tr")[1:21][0].findAll("td")[0].text)

In [ ]:
(soup.findAll("table", {"style":'font: bold 12px arial, "Trebuchet MS"'})[0].findAll("tbody")[1].
 findAll("tr")[1:21][0].findAll("td")[1].text)

In [ ]:
(soup.findAll("table", {"style":'font: bold 12px arial, "Trebuchet MS"'})[0].findAll("tbody")[1].
 findAll("tr")[1:21][0].findAll("td")[2].text)

In [ ]:
(soup.findAll("table", {"style":'font: bold 12px arial, "Trebuchet MS"'})[0].findAll("tbody")[1].
 findAll("tr")[1:21][0].findAll("td")[3].text)

In [ ]:
(soup.findAll("table", {"style":'font: bold 12px arial, "Trebuchet MS"'})[0].findAll("tbody")[1].
 findAll("tr")[1:21][0].findAll("td")[4].text)

In [ ]:
(soup.findAll("table", {"style":'font: bold 12px arial, "Trebuchet MS"'})[0].findAll("tbody")[1].
 findAll("tr")[1:21][0].findAll("td")[5].text.strip())

In [ ]:
(soup.findAll("table", {"style":'font: bold 12px arial, "Trebuchet MS"'})[0].findAll("tbody")[1].
 findAll("tr")[1:21][0].findAll("td")[6].text)

In [ ]:
(soup.findAll("table", {"style":'font: bold 12px arial, "Trebuchet MS"'})[0].findAll("tbody")[1].
 findAll("tr")[1:21][0].findAll("td")[7].text)

In [ ]:
(soup.findAll("table", {"style":'font: bold 12px arial, "Trebuchet MS"'})[0].findAll("tbody")[1].
 findAll("tr")[1:21][0].findAll("td")[8].text)

In [ ]:
list_1 = []
list_2 = []

for i in range(20):
    for j in range(9):
        list_1.append((soup.findAll("table", {"style":'font: bold 12px arial, "Trebuchet MS"'})[0].findAll("tbody")[1].
 findAll("tr")[1:21][i].findAll("td")[j].text))
    list_2.append(list_1)
    list_1 = []

In [ ]:
import pandas as pd

In [ ]:
df_gainers = pd.DataFrame(list_2, columns=["No", "Code", "Name", "Last", "+/-", "%", "Volume", "Turnover", "Freq"])

In [ ]:
df_gainers

In [ ]:
import sqlalchemy 
from sqlalchemy import create_engine 

engine = sqlalchemy.create_engine('mysql+pymysql://z49Mo0EB5g:Cd90219RuM@remotemysql.com:3306/z49Mo0EB5g')

df_gainers.to_sql(
    name='Data_Journo_Gainers', 
    con=engine,
    if_exists='append',
    index=False
)

## Ambil data dari database

In [33]:
import mysql.connector

mydb = mysql.connector.connect(
    host="remotemysql.com",
    user="z49Mo0EB5g",
    passwd="Cd90219RuM",
    database="z49Mo0EB5g",
    port="3306"
)
cursor = mydb.cursor() 


sql = "select * from Data_Journo_Umum"
cursor.execute(sql)
data_umum = cursor.fetchall()

sql = "select * from Data_Journo_Gainers"
cursor.execute(sql)
data_gainers = cursor.fetchall()

In [34]:
data_umum

[(6,
  datetime.datetime(2020, 2, 12, 18, 31),
  '5913.081',
  '-41.316',
  '(-0.694%)',
  '5957.06',
  '5962.347',
  '5895.724',
  '       5,319,815,882',
  '   7,022,410,066,670',
  '         418,398',
  '116',
  '274',
  '142'),
 (7,
  datetime.datetime(2020, 2, 15, 14, 40, 18),
  '5866.945',
  '-5.009',
  '(-0.085%)',
  '5857.721',
  '5890.029',
  '5843.432',
  '       6,388,288,505',
  '   6,209,302,739,497',
  '         361,124',
  '163',
  '207',
  '153'),
 (8,
  datetime.datetime(2020, 2, 15, 14, 40, 18),
  '5866.945',
  '-5.009',
  '(-0.085%)',
  '5857.721',
  '5890.029',
  '5843.432',
  '       6,388,288,505',
  '   6,209,302,739,497',
  '         361,124',
  '163',
  '207',
  '153')]

In [35]:
df_umum = pd.DataFrame(data_umum)
df_umum

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,6,2020-02-12 18:31:00,5913.081,-41.316,(-0.694%),5957.06,5962.347,5895.724,"5,319,815,882","7,022,410,066,670","418,398",116,274,142
1,7,2020-02-15 14:40:18,5866.945,-5.009,(-0.085%),5857.721,5890.029,5843.432,"6,388,288,505","6,209,302,739,497","361,124",163,207,153
2,8,2020-02-15 14:40:18,5866.945,-5.009,(-0.085%),5857.721,5890.029,5843.432,"6,388,288,505","6,209,302,739,497","361,124",163,207,153

In [36]:
df_gainers = pd.DataFrame(data_gainers)
df_gainers

,0,1,2,3,4,5,6,7,8,9
0,1,1,TOPS,Totalindo Eka Persada Tbk.,116,15,14.85,155.75 M,19.05 B,14524
1,2,2,CSRA,Cisadane Sawit Raya Tbk.,600,50,9.09,10.78 M,6.35 B,2078
2,3,3,WOOD,Integra Indocabinet Tbk.,500,14,2.88,37.67 M,18.88 B,2342
3,4,4,TOWR,Sarana Menara Nusantara Tbk.,900,25,2.86,99.39 M,88.2 B,26106
4,5,5,FILM,MD Pictures Tbk.,232,6,2.65,24.94 M,5.82 B,3102
5,6,6,ITIC,Indonesian Tobacco Tbk.,2750,70,2.61,10.63 M,28.71 B,2603
6,7,7,PAMG,Bima Sakti Pertiwi Tbk.,123,3,2.50,27.12 M,3.27 B,2187
7,8,8,ERAA,Erajaya Swasembada Tbk.,1785,40,2.29,22.4 M,39.49 B,4692
8,9,9,TELE,Tiphone Mobile Indonesia Tbk.,191,4,2.14,76.27 M,14.75 B,5402
9,10,10,HOKI,Buyung Poetra Sembada Tbk.,960,15,1.59,22.87 M,21.83 B,1059
10,11,11,CPIN,Charoen Pokphand Indonesia Tbk,6375,75,1.19,4.09 M,25.87 B,2141
11,12,12,ADRO,Adaro Energy Tbk.,1330,15,1.14,40.09 M,53.17 B,4265
12,13,13,TLKM,Telekomunikasi Indonesia Tbk,3820,30,0.79,73.84 M,282.26 B,4973
13,14,,,,,,,,,
14,15,,,,,,,,,
15,16,,,,,,,,,
16,17,,,,,,,,,
17,18,,,,,,,,,
18,19,,,,,,,,,
19,20,,,,,,,,,